$green1:#42b983;
$green2:#3aa373;
$black1:#2c3e50;
$black2:#34495e;
$black3:#7f8c8d;
$orange:#e96900;
$white:#f8f8f8;
$red:#e4393c;
$blue:#20a0ff;
$readBg:#E9EBFE;
$bodyBg:#54364a;

$fontYaHei: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontHelvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSourceSansPro:'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
$fontGothic:Century Gothic, sans-serif;
$fontOstrichSans:'Ostrich Sans';
$fontApple:"-apple-system","Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;

